<header>
    <h2 class="logo">Inicio</h2>
    <input type="checkbox" id="check">
    <label for="check" class="mostrar-menu">
    &#8801;
    </label>
    <nav class="menu">
        <a href="#">Piano</a>
        <a href="#">Guitarra</a>
        <a href="#">Bateria</a>
        <label for="check" class="esconder-menu">
        &#215;
        </label>
    </nav>
</header>
<section id="banner">
    <div class="contenido-banner">
        <h3><span>RBFGMUSIC: </span> ACADEMIA MUSICAL <br> "Descubre el mundo de la música con nosotros"</h3>
        <a href="#" class="boton-empezar">EMPEZAR</a>
    </div>
</section>

<section id="personas">
    <div>
        <img src="https://img.freepik.com/foto-gratis/retrato-hermoso-mujer-joven-posicion-pared-gris_231208-10760.jpg?w=740&t=st=1686830436~exp=1686831036~hmac=6ed965cd107003a80d6208fc3b5afbebfc1ee62dece76e79a4bf70145bef5341" alt="" width="100%">
        <h4>Maria Fernández</h4>
        <p>Instructora de Guitarra. Listo para comenzar!
        </p>
        <a href="#" class="boton-saber-mas">Saber Más</a>
    </div>
    <div>
        <img src="https://img.freepik.com/fotos-premium/hombre-guapo-caucasico-aislado-pared-beige-dando-gesto-pulgares-arriba_1368-92335.jpg?w=740" alt="" width="100%">
        <h4>Reinaldo Gonzalez</h4>
        <p>Instructor de Piano. Listo para comenzar!
        </p>
        <a href="#" class="boton-saber-mas">Saber Más</a>
    </div>
    <div>
        <img src="https://img.freepik.com/foto-gratis/hombre-hispano-barba-sobre-fondo-amarillo-sonriendo-cara-feliz-guinando-ojo-camara-haciendo-signo-victoria-dedos-numero-dos_839833-12910.jpg?w=740&t=st=1687018423~exp=1687019023~hmac=286b7eb879fb2c56630d21ce21614ec486aceab73eb5e2f86000c0f1c3d03837"
            alt="" width="100%">
        <h4>Jordy Ramirez</h4>
        <p>Instructor de Bateria. Listo para comenzar!
        </p>
        <a href="#" class="boton-saber-mas">Saber Más</a>
    </div>
</section>
<section id="contacto">
    <h4>Contacta con nosotros</h4>
    <form action="#">
        <div class="datos-form">
            <div class="nombre">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            </div>
            <div class="email">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Email">
            </div>
        </div>
        <div class="mensaje">
            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje" id="mensaje" cols=" 30 " rows="10 " placeholder="Mensaje"></textarea>
        </div>
        <div class="boton-formulario">
            <a href="#" class="boton-saber-mas">Enviar Mensaje</a>
        </div>
    </form>
</section>